\practice
\unsupervised-learning-on-country-data.ipynb
\modify.py
/assignments/archive
\docs
\venv
week7/files/.env
week7/files/.env.example
assignments/denoising_autoencoder_model.keras
assignments/denoising_results.png
assignments/loss_curve.png